<footer class="footer__main">
  <p>&copy; Yash Kamble <%= new Date().getFullYear(); %></p>
  <div>
    <span>
      <a href="mailto:your-email@gmail.com">
        <i class="fab fa-google footerlogo fa-2x"></i> </a
    ></span>
    <span>
      <a href="https://www.instagram.com/your-instagram-account">
        <i class="fab fa-instagram footerlogo fa-2x"></i> </a
    ></span>
  </div>
</footer>
