<h1>About</h1>
<h3>
  This Project is a NodeJs Web Application Made with Express, MongoDB and Ejs.
  This Website is able to perform operations such as
</h3>
<ul class="article_ul">
  <li>View Posts on Homepage with pagination.</li>
  <li>Click on each post and read them</li>
  <li>
    Has Header with a Navbar and a SearchBar through which one can search for
    specific posts
  </li>
  <li>
    has a special admin route through which admin can access and modify,delete
    and add posts powered by MONGODB
  </li>
</ul>
