<h1 class="articles__heading">Hi! Have any questions? You can contact me through the links below!</h1>
<div class="contact-wrapper">
  <div class="contact-box">
    <ul>
      <li>
        <a href="mailto:your-email@gmail.com">
          <i class="fab fa-google fa-lg"></i>
          Gmail
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/your-instagram-account">
          <i class="fab fa-instagram fa-lg"></i>
          Instagram
        </a>
      </li>
    </ul>
  </div>
</div>
