<article class="article">
  <div class="artimg">
    <img src="/img/flare_guy.jpeg" />
  </div>
  <div class="artbody">
    <h2 class="title"><%= data.title %></h2>
    <%= data.body %>
  </div>
</article>
